<%- include("../partials/header") -%>

<h1>Edit <%= foundItem.name %></h1>

<form action="/items/<%= foundItem._id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
    <input type="text" name="name" value="<%= foundItem.name %>" required>
    <input type="text" name="price" value="<%= foundItem.price %>" required>
    <input type="text" name="description" value="<%= foundItem.description %>" required>
    <select name="category">
        <% foundCats.forEach((category)=>{ %>
        <option value="<%= category.name %>"><%= category.name %></option>
        <% }); %>
    </select>
    <input type="file" name="file" required>
    <br> <br>
    <button class="btn btn-info" type="submit">Update</button>
</form>

<%- include("../partials/footer") -%>