<%- include("../partials/header") -%>


<h1 class="menu-title">Spatzle's Menu</h1>
<!-- ---------------------------------------------------------- -->
<form id="search-form" action="/items/search" method="post">
    <select name="category" class="ui simple dropdown" id="category">
        <option class="simple item" value="all">All</option>
        <% foundCats.forEach((category)=>{ %>
        <option class="simple item" value="<%= category.name %>"><%= category.name %></option>
        <% }); %>
    </select>
    <button type="submit" class="ui basic button">Search</button>
</form>
<!-- ------------------------------------------------------------------ -->
<div class="container-cards">
    <div class="ui three coloumn divided grid">
        <% foundItems.forEach((item)=>{ %>
        <div class="coloumn">
            <div id="card" class="ui card">
                <div class="image">
                    <img src="<%= item.image %>" alt="<%= item.name %>">
                </div>
                <div class="content">
                    <a href="/items/<%= item._id %>" class="header"><%= item.name %></a>

                    <div class="meta">
                        <span>Rs. <%= item.price %></span>
                    </div>

                    <br>
                    <span id="review-icon" class="right floated">
                        <i class="comment outline icon"></i>
                        <% if(item.comments.length===1){ %>
                        <%= item.comments.length %> Review

                        <%}else{%>
                        <%= item.comments.length %> Reviews
                        <%}%>
                    </span>

            <a href="/items/<%= item._id %>" class="ui brown basic button">More Info</a>
                        <% if(currentUser && currentUser.username === "admin"){ %>
                        <div class="admin-buttons">
                            <a href="/items/<%= item._id %>/edit" class="ui yellow basic button">Edit</a>
                            <form class="delete-button" action="/items/<%= item._id %>?_method=DELETE" method="post">
                                <button type="submit" class="ui red basic button">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") -%>