<%- include("../partials/header") -%>

<h1><%= foundItem.name %></h1>
<h3><%= foundItem.price %></h3>
<p><%= foundItem.description %></p>

<a class="btn btn-warning" href="/items/<%= foundItem._id %>/comments/new">Leave review</a>
<br>

<a href="/items">Go back to items</a>

<br><br><br>
<h3>Reviews</h3>
<% foundItem.comments.forEach((comment)=>{ %>
<p><strong><%= comment.author.username %></strong></p>
<p><%= comment.text %></p>

<% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
<a class="btn btn-warning" href="/items/<%= foundItem._id %>/comments/<%= comment._id %>/edit"> Edit </a>

<form action="/items/<%= foundItem._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<% } %>

<hr>

<% }); %>


<%- include("../partials/footer") -%>