<%- include("../partials/header") -%>

<h1><%= foundItem.name %></h1>
<h3><%= foundItem.price %></h3>
<p><%= foundItem.description %></p>

<a class="btn btn-warning" href="/items/<%= foundItem._id %>/comments/new">Leave review</a>
<br>

<a href="/items">Go back to items</a>

<br><br><br>
<h3>Reviews</h3>
<% foundItem.comments.forEach((comment)=>{ %>
<p><strong><%= comment.author.username %></strong></p>
<p><%= comment.text %></p>
<hr>

<% }) %>


<%- include("../partials/footer") -%>