<%- include("../partials/header") -%>

<h1><%= foundItem.name %></h1>
<h3><%= foundItem.price %></h3>
<p><%= foundItem.description %></p>

<a class="btn btn-warning" href="">Leave review</a>

<a href="/items">Go back to items</a>

<%- include("../partials/footer") -%>