<%- include("../partials/header") -%>

<h1>Edit Review to <%= foundItem.name %></h1>

<form action="/items/<%= foundItem._id %>/comments/<%= foundComment._id %>?_method=PUT" method="post">
    <input type="text" name="comment" value="<%= foundComment.text %>">

    <button class="btn btn-info" type="submit">Submit</button>
</form>

<%- include("../partials/footer") -%>