<%- include("../partials/header") -%>

<h3>Add New Category</h3>

<form action="/category" method="post">
    <input type="text" name="name" placeholder="Category Name" required>
    <button class="btn btn-info" type="submit">Add Category to database</button>
</form>


<h1>All Categories</h1>
<% foundCats.forEach((category)=>{ %>
<p><%= category.name %></p>
<a href="/category/<%= category._id %>/edit" class="btn btn-warning">Edit</a>
<form action="/category/<%= category._id %>?_method=DELETE" method="post">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
<% }); %>



<%- include("../partials/footer") -%>