<%- include("../partials/header") -%>


<div class="custom-form">
    <h1>Edit <%= foundCat._name %> Category</h1>
    <form class="ui form" action="/category/<%= foundCat._id %>?_method=PUT" method="post">
        <input type="hidden" name="oldName" value="<%= foundCat.name%>">
        <div class="field">
            <label>Category Name</label>
            <input type="text" name="name" value="<%= foundCat.name%>" required>
        </div>
        <button class="ui orange inverted button" type="submit">Submit</button>
    </form>
</div>


<%- include("../partials/footer") -%>